.sidebarChat{
    display: flex;
    align-items: center;
    padding: 20px;
    border: 1px solid lightgray;
    cursor: pointer;

}

.sidebarChat:hover{
    background-color: #3e93fd;
    color:white;
}

.sidebarchat__info{
    margin-left: 15px;
    position: relative;
    width: 100%;
}

.sidebarchat__info > small{
    position: absolute;
    top: 5px;
    right: 0;
}